.landing-page {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text-box {
    padding: 4rem;
    background-color: rgba($color-black, 0.55);
    border-radius: 0.5rem;

    position: absolute;
    top: 30%;
    left: 32%;
    transform: translate(-50%, -50%);

    color: $color-white;
    font-size: 1.75rem;
    text-align: center;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: $color-black;
    }

    .button--home {
      background-color: $color-white;
    }

    @include respond(tab-port) {
      background-color: rgba($color-black, 0.55);
      border-radius: 0.25rem;
      padding: 1.5rem;

      top: 60%;
      left: 40%;
    }
  }

  &__heading {
    margin-bottom: 3rem;

    color: $color-white;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase;

    @include respond(tab-port) {
      margin-bottom: 1.75rem;

      font-size: 1.5rem;
      letter-spacing: 1rem;
    }
  }

  &__text {
    margin-bottom: 3rem;

    @include respond(tab-port) {
      margin-bottom: 1.5rem;

      font-size: 1.5rem;

      display: none;
    }
  }
}
