.landing-page {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__heading {
    color: $color-white;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase;

    @include respond(tab-port) {
      display: none;
      margin-bottom: 1.5rem;

      font-size: 1.5rem;
      letter-spacing: 1rem;
    }
  }

  &__text-box {
    padding: 3rem;
    background-color: rgba($color-black, 0.6);

    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);

    color: $color-white;
    font-size: 1.75rem;
    text-align: center;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: $color-black;
    }

    .button--home {
      background-color: $color-white;
    }

    @include respond(tab-port) {
      background-color: rgba($color-black, 0);
      padding: 1rem;

      bottom: 0%;
    }
  }
}
