.landing-page {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__heading {
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: $color-white;
    font-size: 6rem;
  }

  &__text-box {
    padding: 2rem;
    background-color: rgba($color-black, 0.5);

    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: $color-white;
    }

    @include respond(tab-port) {
      bottom: -25%;
    }
  }
}
