{% comment %} {{ 'custom-landing-page.css' | asset_url | stylesheet_tag }} {% endcomment %}

<div class="custom-landing-page">
  <div class="custom-landing-page__text-box">
    <h2 class="heading-quote">Award Winning Wine Maker</h2>
    <h1 class="heading-landing-page u-margin-bottom-small">Deliverying quality wine to your door</h1>
    <button class="btn">Shop</button>
  </div>
</div>
  
{% schema %}
  {
    "name": "Landing Page",
    "settings": [
      {
        "id": "landing_page_image",
        "type": "image_picker",
        "label": "Landing Page Image"
      }
    ],
    "presets": [
      {
        "name": "Custom Landing Page",
        "category": "Image"
      }
    ]
  }
{% endschema %}