<div class="custom-padding">
  <div>
    <h1>Padding</h1>
  </div>

  </div>
    
  {% schema %}
    {
      "name": "Padding",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Padding Image Banner"
        }
      ],
      "presets": [
        {
          "name": "_Custom Padding",
          "category": "Image"
        }
      ]
    }
  {% endschema %}