<section class="landing-page">
    <div class="landing-page__image">
      <img
        src="{{ section.settings.landing_page_image | img_url: '1400x' }}"
        loading="lazy"
        alt="{{ section.settings.landing_page_image.alt | escape }}"
        width="1400px"
      >    
    </div>
    <div class="landing-page__text-box">
      <h1 class="landing-page__heading u-margin-bottom-small">Rush Wines</h1>

      <p class="u-margin-bottom-small">Wines made by a Rush, not in a rush</p>

      <button class="button button--home">
        <a href="https://rushwines.com.au/collections/all">Shop Now</a>
      </button>
    </div>
  </section>
    
  {% schema %}
    {
      "name": "Landing Page",
      "settings": [
        {
          "id": "landing_page_image",
          "type": "image_picker",
          "label": "Landing Page Image"
        }
      ],
      "presets": [
        {
          "name": "_Custom Landing Page",
          "category": "Image"
        }
      ]
    }
  {% endschema %}