
<div class="custom-section-title">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            {% comment %} Exciting tours for adventurous people {% endcomment %}
            {{ section.settings.title }}
        </h2>
    </div>
  
    </div>
      
    {% schema %}
      {
        "name": "Section Title",
        "settings": [
          {
            "id": "title",
            "type": "richtext",
            "label": "Padding Image Banner"
          }
        ],
        "presets": [
          {
            "name": "_Custom Section Title",
            "category": "Heading"
          }
        ]
      }
    {% endschema %}