{{ 'custom-landing-page.css' | asset_url | stylesheet_tag }}

<div class="custom-text-section">
    <div style="background: url({{section.settings.landing_page_image | img_url: '2048x'}});"  class="landing-page">
      <div class="landing-page__text-box">
        <h2></h2>
        <h1></h1>
      </div>
      
    </div>
  </div>
  
  {% schema %}
    {
      "name": "Landing Page",
      "settings": [
        {
          "id": "landing_page_image",
          "type": "image_picker",
          "label": "Landing Page Image"
        }
      ],
      "presets": [
        {
          "name": "Custom Landing Page",
          "category": "Image"
        }
      ]
    }
  {% endschema %}