<div class="custom-section-title">
    <div>
    </div>
  
    </div>
      
    {% schema %}
      {
        "name": "Section Title",
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "label": "Section Title"
          }
        ],
        "presets": [
          {
            "name": "_Custom Section Title",
            "category": "Image"
          }
        ]
      }
    {% endschema %}