{{ 'custom-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer-menu">
    <div class="footer-menu__logo">
      <div class="footer-menu__logo--image">
        IMG
      </div>
      <div class="footer-menu__logo--title">
        Rush Wines
      </div>
    </div>

    <div class="footer-menu__links">
    
      <div class="footer-menu__links--explore">
        <div>
          <h1><span>Explore</span></h1>
        </div>
        <div>        
          <ul>
            <li>Home</li>
            <li>Story</li>
            <li>Shop</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <div class="footer-menu__links--social">
        <h1><span>Social</span></h1>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
  </footer>
  
  {% schema %}
    {
      "name": "Footer",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image Banner"
        }
      ],
      "presets": [
        {
          "name": "Custom Footer",
          "category": "Image"
        }
      ]
    }
  {% endschema %}