<section class="landing-page">
    <div class="landing-page__image">
      <img
        src="{{ section.settings.landing_page_image2 | img_url: '1200x' }}"
        loading="lazy"
        alt="{{ section.settings.landing_page_image2.alt | escape }}"
        width="1200px"
      >    
    </div>
    {% comment %} <div class="landing-page__text-box">
      <h1>TEXT BOX</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos,
        eligendi.
      </p>
    </div> {% endcomment %}
  </section>
    
  {% schema %}
    {
      "name": "Landing Page",
      "settings": [
        {
          "id": "landing_page_image2",
          "type": "image_picker",
          "label": "Landing Page image2"
        }
      ],
      "presets": [
        {
          "name": "_Custom Landing Page2",
          "category": "Image"
        }
      ]
    }
  {% endschema %}