<div class="custom-padding">
    <h1>Padding</h1>
  </div>
    
  {% schema %}
    {
      "name": "Padding",
      "settings": [
        {

        }
      ],
      "presets": [
        {
          "name": "Custom Padding",
          "category": "Image"
        }
      ]
    }
  {% endschema %}