
<footer class="custom-footer">
  <div class="container">
    <div class="row">
      <div class="col-1-of-3">
        <div class="footer__logo">

        </div>
      </div>
      <div class="col-1-of-3">
        <div class="footer__nav-links">
          <h1 class="heading-footer u-margin-bottom-small">
            <span>Explore</span>
          </h1>
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Story</a>
            </li>
            <li>
              <a href="#">Shop</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="footer__social-media-links">
          <h1 class="heading-footer u-margin-bottom-small">
            <span>Follow Us</span>
          </h1>
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>LinkedIn</li>
            <li>Twitter</li>
          </ul>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="footer__copyright u-center-text">
        Ant Software Dev &copy; 2021
      </div>
    </div>
  </div>
</footer>
  
  {% schema %}
    {
      "name": "Footer",
      "settings": [
        {

        }
      ],
      "presets": [
        {
          "name": "_Custom Footer",
          "category": "footer"
        }
      ]
    }
  {% endschema %}