.btn {
  background-color: blue;
  color: $color-white;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  border: none;

  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
