.footer-menu {
  background-color: #454545;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-menu h1 {
  color: white;
}

.footer-menu__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-menu__logo--image {
}

.footer-menu__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-menu__links--explore,
.footer-menu__links--social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
